/**
 * SPDX-FileCopyrightText: 2017-2019, 2021 Jens Lechtenbörger
 *
 * SPDX-License-Identifier: LicenseRef-MIT-JL
 *
 * Theme for ERCIS slides
 */

/*********************************************
 * ERCIS colors
 *********************************************/

::selection {
  color: #fff;
  background: #910830;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #910830;
  text-shadow: none; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin-bottom: 2ex;
  max-width: 80%;
  color: #910830; }

.ercisred,
.reveal strong,
.reveal a[href^="http"], .reveal a[href^="news:"], .reveal a[href^="mailto:"], .reveal a[href^="ftp:"],
.reveal b,
.reveal .slides section .fragment.highlight-red.visible {
  color: #910830; }

.reveal .slide-number a {
  color: rgb(195,148,146); }

#qr-code-left {
  float: none;
  display: inline-block;
  vertical-align: middle; }

#toc-progress-footer ul {
  margin-top: 1ex; }

#toc-progress-footer a, #toc-progress-footer ul {
  color: #222; }

.reveal ol, ul, p {
  color: #595959; }

/*********************************************
 * Logos and title on title slide
 *********************************************/

.reveal .top-logos {
  display: inline-block;
  width: 100%; }

.reveal .wwu-logo {
  float: left;
  width: 296px;
  height: 100px; }

.reveal .wwu-logo-contact {
  float: left;
  width: 355px;
  height: 120px; }

.reveal .ercis-logo {
  margin: 0px 30px;
  width: 306px;
  height: 180px; }

.reveal .ercis-logo-contact {
  width: 484px;
  height: 282px; }

.reveal h1 {
  margin-bottom: 1ex;
  font-size: 1.5em; }

/* Also reduce font size of headings. */
.reveal h2 {
  font-size: 1.5em; }

.reveal .talk-title {
  margin: 80px 0px 10px 0px; }

/**************************************************
 * Logo for slide headers, but not on title slide.
 * Reduce size as background image to avoid overlap with headline.
 * Move to avoid overlap with folder icon.
 **************************************************/

.reveal h2:after, .reveal h3:after, .reveal h4:after {
  content: "";
  background-image: url(ercis1.png);
  background-size: auto 70%;
  background-repeat: no-repeat;
  height: 15%;
  width: 15%;
  position: fixed;
  right: 50px;
  top: 0; }

/**************************************************
 * Action titles
 **************************************************/
.reveal h2.action-title {
  text-align: left;
  margin-bottom: 0.5ex; }

.reveal div.outline-3 h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: #595959; }

/*********************************************
 * Question slide with contact info
 *********************************************/

#contactbox {
  background-color: #fff;
  padding: 40px; }

/* No folder icon on questions slide. */
#slide-questions-ercis-slide aside.notes {
  background: none; }

/* No logo after heading on questions slide. */
#questions-ercis-slide:after {
  content: "";
  background-image: none; }

#contactinfo {
  margin-top: 80px;
  font-size: 0.6em; }

#contactinfo p {
  margin: 0.8ex 0;
  line-height: 1.1; }

#presentername {
  color: #910830;
  font-size: 1.4em;
  font-weight: bold; }

/*********************************************
 * ERCIS header and footer
 *********************************************/

#preamble-header {
  z-index: 50;
  font-size: .3em;
  position: absolute;
  bottom: 0;
  left: 1%; }

#preamble-header a:after {
  content: none;
  background: none; }

#preamble-footer {
  font-size: .4em;
  width: 80%;
  position: absolute;
  bottom: 9.5vh;
  left: 5%;
  color: #595959; }

#preamble-footer b {
  color: #595959; }

#preamble-footer p {
    margin: 0; }

#preamble-footer hr {
  margin: 0 0 1ex 0;
  border-color: #910830; }

/*********************************************
 * Lists with squares
 *********************************************/
.reveal ul,
.reveal ul ul,
.reveal ul ul ul {
  list-style-type: square; }
